@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 40.625em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 32.813em) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 23.438em) {
  html {
    font-size: 35%;
  }
}

body {
  max-width: 160rem;
  margin: 0 auto;
}

.margin-small {
  margin-top: 4rem !important;
}

.margin-medium {
  margin-top: 6rem !important;
}

.margin-large {
  margin-top: 10rem !important;
}

.title-main,
h3,
h4 {
  font-family: 'Russo One', sans-serif;
  background-image: linear-gradient(to bottom right, #d60000 25%, #9c0000 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.3rem 0.3rem rgba(17, 17, 17, 0.3);
  letter-spacing: 0.5rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 23.438em) {
  .title-main,
  h3,
  h4 {
    width: 70%;
    margin: 0 auto;
  }
}

.title-main {
  font-size: 6rem;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem !important;
}

h4 {
  font-size: 2.2rem !important;
}

.title-sub {
  font-size: 3.5rem;
  font-family: 'Great Vibes', cursive;
  color: #fff;
  line-height: 1.5;
  letter-spacing: 0.3rem;
  font-weight: 300;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.btn,
.btn:visited {
  background: linear-gradient(to bottom right, #d60000 25%, #9c0000 100%);
  outline: none;
  font-size: 1.8rem;
  border: none;
  padding: 1rem;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 0.15rem;
  line-height: 1.2;
  width: 50%;
  box-shadow: 0 0.15rem 0.15rem rgba(17, 17, 17, 0.4);
  transition: transform 0.2s linear;
  margin: 1rem auto;
  border: 2px solid #fff;
  border-radius: 1rem;
}
.btn:hover,
.btn:visited:hover {
  transform: translateY(-5%);
  box-shadow: 0 0.3rem 0.3rem rgba(17, 17, 17, 0.3);
}
.btn:active,
.btn:visited:active {
  transform: translateY(-2%);
  box-shadow: 0 0.15rem 0.15rem rgba(17, 17, 17, 0.4);
}

.link,
.link:visited,
.link:active {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section-hidden {
  opacity: 0;
  transform: translateY(6rem);
}

@keyframes counterUp {
  0% {
    transform: translateY(200%);
    opacity: 0.3;
    visibility: hidden;
  }
  80% {
    transform: translateY(1);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes formThanksAnimation {
  from {
    top: -10%;
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.navigation {
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 10;
}
.navigation-logo {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.header {
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
}
.header-image {
  width: 100%;
  object-fit: cover;
  background-position: center;
}
@media only screen and (max-width: 28.125em) {
  .header-image {
    height: 50vh;
  }
}
.header-title {
  position: absolute;
  top: 50%;
  left: 10%;
}
@media only screen and (max-width: 28.125em) {
  .header-title {
    left: 0%;
  }
}

.contact {
  text-align: center;
  padding: 2rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 40.625em) {
  .contact-container {
    flex-direction: column;
  }
}
.contact-content {
  flex-basis: 35%;
}
.contact-content li {
  font-size: 2.5rem;
  font-family: 'Russo One', sans-serif;
  margin: 1rem;
  text-shadow: 0 0.3rem 0.3rem rgba(17, 17, 17, 0.3);
}
.contact-content li:last-child {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #d60000;
}
.contact-content span {
  color: #d60000;
  margin-left: 1rem;
}

#map {
  height: 30vh;
  flex-basis: 60%;
  border-radius: 1rem;
  border: 2px solid #d60000;
  box-shadow: 0 0.3rem 0.3rem rgba(17, 17, 17, 0.3);
}
@media only screen and (max-width: 40.625em) {
  #map {
    display: none;
  }
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background: linear-gradient(to bottom right, #d60000 25%, #9c0000 100%);
  color: #fff;
  border-radius: 1rem;
  padding: 0.3rem;
  font-family: 'Russo One', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-align: center;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #fff;
}

.form {
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 40.625em) {
  .form p {
    width: 70%;
    margin: 0 auto;
  }
}
.form-box {
  position: relative;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #d60000 25%, #9c0000 100%);
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(17, 17, 17, 0.7);
}
.form-box__input,
.form-box__input:active {
  outline: none;
  border: none;
  font-size: 1.8rem;
  margin: 2rem;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 50%;
  padding: 1rem;
  transition: width 0.2s linear;
  color: #fff;
  text-transform: uppercase;
  font-family: font-russo;
  letter-spacing: 0.1rem;
}
.form-box__input::placeholder,
.form-box__input:active::placeholder {
  color: #fff;
  font-weight: 300;
}
.form-box__input:focus {
  width: 75%;
  color: #fff;
}
.form-box__input:focus::placeholder {
  color: transparent;
}
.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  transform: translate(-50%, -50%);
}
.form-modal__text {
  font-family: 'Great Vibes', cursive;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.formThanksAnimation {
  animation: formThanksAnimation 1s linear;
}

.reviews {
  padding: 3rem 0;
  width: 100%;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #d60000;
}
.reviews-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviews-image {
  object-fit: cover;
  margin: 1rem 4rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 2px solid #d60000;
}

.footer {
  background-color: #111;
  overflow: hidden;
}
.footer-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-link {
  transition: color 0.2s linear;
}
.footer-link:hover {
  color: #ccc;
}
.footer-copyright {
  text-align: center;
  margin: 2rem;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.about {
  padding: 2rem;
  text-align: center;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 40.625em) {
  .about-container {
    flex-direction: column;
  }
}
.about-container > * {
  flex: 1;
  margin: 1rem 2rem;
}
.about-image {
  flex-basis: 45%;
}
@media only screen and (max-width: 40.625em) {
  .about-image {
    order: 1;
  }
}
.about-img {
  width: 100%;
  border-radius: 1rem;
  max-height: 35rem;
  object-fit: cover;
  box-shadow: 0 0.3rem 0.3rem rgba(17, 17, 17, 0.3);
}
.about-text {
  flex-basis: 45%;
}
@media only screen and (max-width: 40.625em) {
  .about-text {
    order: 2;
  }
}
.about-text__paragraph {
  width: 85%;
  margin: 0 auto;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  animation: counterUp 1s ease-out;
}
@media only screen and (max-width: 28.125em) {
  .counter {
    flex-direction: column;
    margin: 2rem 0;
  }
}
.counter-content {
  margin: 1rem auto;
  font-size: 3.5rem;
  color: #d60000;
  text-shadow: 0 0.5rem 0.5rem rgba(17, 17, 17, 0.7);
}
